<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gas Prices</title>
	<meta name="description" content="Track the gas prices of thousands of locations across the United States">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="static/gas.ico">
	<script src="/static/leaflet/leaflet.js"></script>
	<link rel="stylesheet" href="/static/leaflet/leaflet.css">
	<script src="/static/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
	<link rel="stylesheet" href="/static/leaflet.markercluster/dist/MarkerCluster.css">
	<link rel="stylesheet" href="/static/leaflet.markercluster/dist/MarkerCluster.Default.css">
	<base target="_blank">
	<style>html,body{height:100%;margin:0;}#map{height:100vh;}
.leaflet-container a{
	color:black;
	text-decoration:none;
}
.samsclub,.murphyusa,.meijer,.marathon{
	display:flex;
	text-align:center;
	align-items:center;
	font-size:14px;
	font-weight:bold;
}
.samsclub{background-color:rgba(0,103,160,0.5);}
.murphyusa{background-color:rgba(35,91,168,0.5);border-radius:37%;}
.meijer{background-color:rgba(221,19,33,0.5);}
.marathon{background-color:rgba(237,23,79,0.5);border-radius:37%;}
	</style>
</head>
<body>
	<div id="map"></div>
	<script>
let map=L.map("map",{center:[38.243,-85.647],zoom:11,layers:[L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png")]});
let layerControl=L.control.layers(null,null,{collapsed:false}).addTo(map);
let chains={"Sam's Club":"https://www.samsclub.com/local/fuel-center/-/X","Murphy USA":"tel:+1X","Meijer":"https://www.meijer.com/shopping/store-locator/X.html","Marathon":"tel:+1X"};
for (const [chain,url] of Object.entries(chains)){
	const chainId=chain.toLowerCase().replace(/[^a-z]/g,'');
	chains[chain]=L.markerClusterGroup({maxClusterRadius:120,iconCreateFunction:function(cluster){
		var markers=cluster.getAllChildMarkers();
		var u=[],p=[];
		for(var i=0;i<markers.length;i++){
			if(markers[i].u>199){u.push(markers[i].u)}
			if(markers[i].p>299){p.push(markers[i].p)}
		}
		u=(u.reduce((t,a)=>t+a,0)/u.length);
		p=(p.reduce((t,a)=>t+a,0)/p.length);
		return createIcon(chainId,u,p,64)
	}}).addTo(map);
	layerControl.addOverlay(chains[chain],`${chain} loading...`)
	fetch(chainId+".csv").then(response=>{
		if(!response.ok){throw new Error(response.status)}
		return response.text()
	}).then(csv=>{
		csv.split("\n").forEach(line=>{
			let [u,p,lat,lng,id]=line.split(",");
			m=L.marker([lat,lng],{icon:createIcon(chainId,u,p,44)}).addTo(chains[chain]);
			m.u=Number(u);
			m.p=Number(p)
		})
		layerControl.removeLayer(chains[chain]);
		layerControl.addOverlay(chains[chain],`${chain} (${chains[chain].getLayers().length} locations)`)
	}).catch(error=>{
		console.error(error);
		layerControl.removeLayer(chains[chain]);
		layerControl.addOverlay(L.layerGroup(),`${chain} request was blocked :(`)
	})
}
function createIcon(chainId,u,p,s){
	u=(u/100).toLocaleString("en-US",{style:"currency",currency:"USD"});
	p=(p/100).toLocaleString("en-US",{style:"currency",currency:"USD"});
	return L.divIcon({className:chainId,html:`${u}\n${p}`,iconSize:[s,s]})
}
const lastPosition=localStorage.getItem("lastPosition");
if(lastPosition){
	const pos=JSON.parse(lastPosition);
	map.setView(pos.coords,pos.zoom);
}
map.on("moveend zoomend",function(){
	const center=map.getCenter();
	localStorage.setItem("lastPosition",JSON.stringify({coords:[center.lat,center.lng],zoom:map.getZoom()}));
});
const ResetViewControl=L.Control.extend({
	onAdd:function(map){
		const btn=L.DomUtil.create('button','leaflet-bar leaflet-control');
		btn.innerHTML='⌂';
		btn.title='Reset view';
		btn.style.backgroundColor='white';
		btn.style.font='22px bold';
		btn.style.cursor='pointer';
		L.DomEvent.on(btn,'click',function(e){
			localStorage.removeItem("lastPosition");
			location.reload();
		});
		return btn;
	}
});
map.addControl(new ResetViewControl({position:'topleft'}));
	</script>
</body>
</html>
