<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="og:site_name" content="Gas">
	<meta property="og:title" content="Gas Prices">
	<meta property="og:description" content="Track the gas prices of Sam's Club and Costco locations across the United States">
	<title>Gas Prices</title>
	<meta name="description" content="Track the gas prices of Sam's Club and Costco locations across the United States">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/gas.svg">
	<script src="https://stevenalexander.org/leaflet/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stevenalexander.org/leaflet/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="anonymous">
	<base target="_blank">
	<style>html,body{height:100%;margin:0;}#map{height:100vh;}
.leaflet-container a{
	color:black;
	text-decoration:none;
}
.Costco,.Sams{
	display:flex;
	border-radius:33%;
	text-align:center;
	align-items:center;
	font-size:14px;
	font-weight:bold;
}
.Costco{background-color:rgba(227,42,54,0.5);}
.Sams{background-color:rgba(0,103,160,0.5);}
	</style>
</head>
<body>
	<div id="map"></div>
	<script>
let osm=L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
let map=L.map('map',{center:[38.243,-85.647],zoom:11,layers:[osm]});
let layerControl=L.control.layers({"fetching gas prices...":osm},null,{collapsed:false}).addTo(map);
fetch('gas.csv').then(response=>{
	layerControl.remove();
	if(!response.ok){
		L.control.layers({'fetch failed. try reloading?':osm},null,{collapsed:false}).addTo(map);
		return
	}
	return response.text()
}).then(csv=>{
	let storeLayers={},store,url;
	csv.split('\n').forEach(line=>{
		if(line.includes(',')){
			let [u,p,lat,lng,id]=line.split(',');
			[u,p]=[u,p].map(cents=>"$"+(cents/100).toFixed(2));
			L.marker([lat,lng],{icon:L.divIcon({className:store,html:`<a href="${url.replace("X",id)}">${u}\n${p}</a>`,iconSize:[44,44]})}).addTo(storeLayers[store])
		}else{
			[store,url]=line.split(" ");
			storeLayers[store]=L.layerGroup().addTo(map)
		}
	})
	L.control.layers(null,storeLayers,{collapsed:false}).addTo(map)
})
	</script>
</body>
</html>
